@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
body {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.navbar {
  position: relative;
  min-height: 50px;
  border: 1px solid transparent;
  background: linear-gradient(to right, rgb(65, 41, 90), rgb(47, 7, 67));
  border-radius: 0px;
}

.navbar::before {
  display: table;
  content: " ";
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-header {
  margin-right: 0;
  margin-left: 0;
  text-align: center;
}

.logo a {
  font-size: 34px;
  color: #fff;
}

.containerMy {
  padding: 0 0;
}

@media (min-width: 575.98px) {
  .containerMy {
    padding: 0 calc(50% - 270px);
  }
}

@media (min-width: 767.98px) {
  .containerMy {
    padding: 0 calc(50% - 360px);
  }
}

@media (min-width: 991.98px) {
  .containerMy {
    padding: 0 calc(50% - 480px);
  }
}

@media (min-width: 1199.98px) {
  .containerMy {
    padding: 0 calc(50% - 590px);
  }
}

.table-container {
  background-color: rgb(222, 222, 222);
  text-align: center;
}

.right {
  display: flex;
    align-items: center;
    justify-content: flex-end;
}

.left {
  text-align: left !important;
}

.paddingLeft{
  padding-left: 30px;
}

.bigText{
  height:500px;
}